<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container col-12 " style="min-height:100%">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #45526e"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0 m-0 col-12">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-5 text-left">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              shopkart
            </h6>
            <p>
              Shopkart is a responsive E-Commerce website developed using Django with MySQL. It is built using HTML, CSS, JavaScript, and Bootstrap. The website provides users with a list of various products available for purchase in the store. For the convenience of online shopping, a shopping cart is provided to the user. The system is implemented using Python’s web framework Django.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-left">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Catagories
            </h6>
            <p><a class="text-white">Mobile</a></p>
            <p><a class="text-white">Baby toy</a></p> 
            <p><a class="text-white">Cloth</a></p>
            <p><a class="text-white">Beauty product</a></p>
            <p><a class="text-white">Furniture</a></p>
            <p><a class="text-white">Book</a></p>
            <p><a class="text-white">Grocery</a></p>
            <p><a class="text-white">Televitions</a></p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-left">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Useful links
            </h6>
            <p>
              <a class="text-white" href="{% url "register" %}">Register</a>
            </p>
            <p>
              <a class="text-white" href="{% url "login" %}">Login</a>
            </p>
            <p>
              <a class="text-white" href="{% url "collection" %}">Collections</a>
            </p>
            <p>
              <a class="text-white" >My cart</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-left">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> Pondycherry, 605010, India</p>
            <p><i class="fas fa-envelope mr-3"></i> Shopkartinfo@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 0413 234 567 8</p>
            <p><i class="fas fa-print mr-3"></i> + 0413 234 567 8</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class=" pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2023 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/"
                 >Shopkart.com</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->